@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(114, 106, 149, 0.7);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.phone {
  position: relative;
  overflow: hidden;
  border: 0.2rem solid #eee;
  border-radius: 1rem;
  width: 21.25rem;
  height: 37.5rem;
}

.phone .content {
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 3.75rem);
  width: 100%;
  transition: opacity 0.4s ease-in-out;
}

.phone .content.show {
  opacity: 1;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -0.3125rem;
  width: 100%;
}

nav ul {
  background-color: #fff;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 3.75rem;
}

nav ul li {
  color: #a0c1b8;
  cursor: pointer;
  flex: 1;
  text-align: center;
  padding: 0.625rem;
  transition: color 0.2s ease;
}

nav ul li:hover,
nav ul li.active {
  color: #351f39;
}

nav ul li p {
  font-size: 0.75rem;
  margin: 0.125rem 0;
}
